[alias]
	#Log
		#log short
		ls = log --graph --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=local
		#log extended
		le = log --graph --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat --date=local
		# log short relative date
		lsr = log --graph --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative


	#various
		st = status -s									# status short
		stf = status									# status full
		lsf = ls-files									# list files
		
	#branching
		co = checkout									# checkout
		cob = checkout -b								# checkout branch
		renamebranch = branch -m						# rename branch <oldname> <newname> || <newname> (for current branch)
		
	
	#staging/unstagin
		a = add											# add
		aa = !git add -u								# add all (only tracked)
		aau = !git add -A								# add all (also untracked)
		unstage = reset HEAD --							# unstage file
		uncommit = reset --soft HEAD^     				# go back before last commit, with files in uncommitted state
		ap = git add --patch							# add patch
		
	#commiting
		
		c  = commit										# commit
		cm = !"git c -m"								# commit with message
		ca = !"git aa && git c"							# commit all
		cam = !"git ca -m"								# commit all with message
		amend = commit --amend --reuse-message=HEAD		# amend to last commit
		ammend = commit --amend --reuse-message=HEAD	# "" typo
		remsg = commit --amend							# change latest commit message
		wwd = git show HEAD								# WhatWasDone?
    
    #diffing
		dc = diff --cached																		# diff current commit
		dcoc = !"git dc -U0"																	# diff current commit only changes
		ds = !"git diff HEAD"																	# diff since last commit
		dsoc = !"git diff -U0 HEAD"															    # diff since last commit only changes
		
	#stashing
		ss = stash save									# stash uncommited changes
		sa = stash apply								# stash apply
		sp = stash pop									# stash pop
		sl = stash list									# stash list
		ski = stash --keep-index						# stash keep index
		
	#cherry picking
		cp = cherry-pick -x								#cherry pick
		
	
	#functions
		#find a commit by its commit message
		cbym = "!f() { \
			git ls --grep=\"$1\"; \
		}; f"
		
	#archiving (just syntax for now)
		#git archive master --format=zip --output=../website-12-10-2012.zip
		#git bundle create ../repo.bundle master
	aliases = "!git config -l | grep alias | cut -c 7-"


#Color settings
[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = yellow
    changed = green
    untracked = red

[merge]
    log = true
    ff = false
 
[diff]
	mnemonicprefix = true
    
[push]
    # push will only do the current branch, not all branches
    default = current
    
[branch]
    # unsure if it should be enabled
    # autosetuprebase = always

[user]
	name = CLyD
	email = 
