[alias]
	#Log
		ls = log --graph --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=local
		ll = log --graph --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat --date=local
		lsr = log --graph --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
		ll1 = !"git ll -1"

	#various
		st = status -s									# status short
		stf = status									# status full
		co = checkout									# checkout
		cob = checkout -b								# checkout branch
		lsf = ls-files									# list files
	
	#staging/unstagin
		aa = !git add -A								# add all
		unstage = reset HEAD --							# unstage file
		uncommit = reset --soft HEAD^     				# go back before last commit, with files in uncommitted state
		ap = git add --patch							# add patch
		
	#commiting
		
		cm = commit -m 									# commit with message
		cam = !"git aa && git commit -m"				# commit all with message
		amend = commit --amend --reuse-message=HEAD		# amend to last commit
		ammend = commit --amend --reuse-message=HEAD	# "" typo
    
    #diffing
		dc = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"  # diff current
		ds = !"git df HEAD^"																	# diff staged
		df = diff --color --abbrev
		wd = diff --color --color-words --abbrev												# word diff
	
	#functions
		#find a commit by its commit message
		cbym = "!f() { \
			git ls --grep=\"$1\"; \
		}; f"
		

	aliases = "!git config -l | grep alias | cut -c 7-"


#Color settings
[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = yellow
    changed = green
    untracked = red

[merge]
    log = true
    ff = false
    
[push]
    # push will only do the current branch, not all branches
    default = current
    
[branch]
    # unsure if it should be enabled
    # autosetuprebase = always

[user]
	name = CLyD
	email = 
