! Urxvt
URxvt.buffered          : false
URxvt.cursorBlink       : on
URxvt.cutchars          : <>
URxvt.depth             : 32
URxvt*font				:  -xos4-terminus-medium-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:pixelsize:12
URxvt*boldFont			:  -xos4-terminus-bold-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:bold:pixelsize:12
URxvt*italicFont		:  xft:Bitstream Vera Sans Mono:italic:autohint=true:pixelsize=12
URxvt*boldItalicFont	:  xft:Bitstream Vera Sans Mono:bold:italic:autohint=true:pixelsize=12
URxvt.internalBorder    : 1
URxvt.iso14755          : false
URxvt.iso14755_52       : false
URxvt.perl-ext-common   : default
URxvt.url-launcher      : /usr/bin/chromium
URxvt.matcher.button    : 1
URxvt.matcher.rend.0    : Uline Bold fg5
URxvt.pointerBlank      : true
URxvt.saveLines         : 10000
URxvt.scrollBar         : false
URxvt.scrollTTyKeypress : true
URxvt.scrollTTyOutput   : false
URxvt.secondaryScroll   : true
URxvt.urgentOnBell      : true
URxvt*fading			: 30
URxvt*background: #101010
URxvt*foreground: #d0d0d0
URxvt*color0: #101010
URxvt*color1: #960050
URxvt*color2: #66aa11
URxvt*color3: #c47f2c
URxvt*color4: #30309b
URxvt*color5: #7e40a5
URxvt*color6: #3579a8
URxvt*color7: #9999aa
URxvt*color8: #303030
URxvt*color9: #ff0090
URxvt*color10: #80ff00
URxvt*color11: #ffba68
URxvt*color12: #5f5fee
URxvt*color13: #bb88dd
URxvt*color14: #4eb4fa
URxvt*color15: #d0d0d0
